<footer>
    <nav class="navbar bg-light fixed-bottom">
        <div class="container-fluid">
          <a class="navbar-brand">
            <i class="fa-regular fa-copyright" width="30" height="24" class="d-inline-block align-text-top"></i> 
            2022 Matthew Briffett 
          </a>
        </div>
      </nav>
</footer>