#logoB {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#logoM {
    padding-left: 0.2em;
}
#logo {
    margin-left: 3em;
    display: block;
    background-color: rgb(75, 223, 223);
    text-align: center;
}
#name {
    padding-top: 0.19em;
}

#servicesCards,
#projectsCards,
#aboutText,
#contactText,
#homeText,
#mission,
#editPage,
#rolodex,
#loginPage {
    margin-top: 13%;
}
#btnResume,
#projects,
#services,
#registerPage {
    margin-top: 7.5%;
}
#btnSubmit,
#contactBtns {
    margin-top: 3.25%;
}
#btnAddContact {
    margin-top: 1.5%;
    margin-bottom: 2.5%;
}
#contactCollapse {
    padding: 2.19em;
}
