<div class="container text-center" id="aboutText">
    <div class="row">
      <div class="col">
        I am enrolled in Software Engineering Technology at Centennial College where I have completed two semesters and will 
        complete my third during Fall 2022. Through my schooling I have gained knowledge and experience covering a variety of 
        platforms, including but not limited to C#, Java, SQL, Python, and JavaScript. I am passionate about technology in general 
        and understanding how things work. I was a mechanic before deciding to change careers; tech has always been an industry 
        that excites me. I am a detail-oriented person and enjoys problem solving and have experience in a fast-paced
        environment doing technical work. I have been interested in technology all my life; I spend most of my free time working 
        on my own electronics and vehicles. I am active in my local community- I founded a local car club which hosts regular 
        events and an annual show partnered with Wheels for Wishes/the CNIB to help children who have vision impairment. I 
        aim to be an asset in any job I do.
      </div>
    </div>
    <div class="row" id="btnResume">
        <div class="col">
            <a href="/resume" target="_parent"><button type="button" class="btn btn-primary">Click here to download my Resume</button></a>
        </div>
    </div>
</div>
