<div class="container text-center" id="projects">
    <div class="row">
        <div class="col">                  
                <p>I have completed a range of software projects. Some examples of my work are listed in the protfolio below:<p>
        </div>
    </div>
    <div class="row" id="projectsCards">
        <div class="col">           
                <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                    <img src="./content/images/BugSmasher.png" class="card-img-top" alt="html 5 game">
                    <div class="card-body">
                    <p class="card-text"><a href="http://studentweb.cencol.ca/mbriffet/coMP125/Assignment05/bugsmasher.htm">HTML 5 Bug Smasher Game</a></p>
                    </div>               
            </div>
        </div>
        <div class="col">            
                <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                    <img src="./content/images/Form.png" class="card-img-top" alt="form">
                    <div class="card-body">
                    <p class="card-text"><a href="http://studentweb.cencol.ca/mbriffet/COMP125/Assignment04/assign4form.html">Validated Form</a></p>
                    </div>
                </div>          
        </div>
        <div class="col">
            
                <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                    <img src="./content/images/gallery.jpeg" class="card-img-top" alt="gallery">
                    <div class="card-body">
                    <p class="card-text"><a href="http://studentweb.cencol.ca/mbriffet/coMP125/assignment06gallery/index.html">Photo Gallery</a></p>
                    </div>
                </div>            
        </div>
        <div class="col">           
                <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                    <img src="./content/images/BMR.png" class="card-img-top" alt="bmr calc">
                    <div class="card-body">
                    <p class="card-text"><a href="http://studentweb.cencol.ca/mbriffet/COMP125/Assignment01/BMRcalc.html">BMR Calculator</a></p>
                    </div>
                </div>            
        </div>
    </div>
</div>

