<div class="container text-center" id="services">
    <div class="row">
        <div class="col">
            <p>       
                I have knowledge in a variety of Software languages and platforms, inclduing JavaScript, NodeJS, CSS, C#/C++, Python, Oracle SQL, MongoDB, Java, and Linux OS.
                <br>
                Below are some of the services I offer:
            </p>
        </div>
    </div>
    <div class="row" id="servicesCards">
        <div class="col">
                <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                    <img src="./content/images/browserIcon.png" class="card-img-top" alt="front-end dev">
                    <div class="card-body">
                    <p class="card-text">Front-End Development</p>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                    <img src="./content/images/QAicon.png" class="card-img-top" alt="Quality Assurance">
                    <div class="card-body">
                    <p class="card-text">Quality Assurance</p>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                    <img src="./content/images/codeIcon.png" class="card-img-top" alt="Back-End Dev">
                    <div class="card-body">
                    <p class="card-text">Back-End Devlopment</p>
                    </div>
                </div>
        </div>
    </div>
</div>

